.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #090979;
    color: white;
    }
.cart-btn {
    background-color: white;
    color: #090979;
    border: none;
    padding:8px 26px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    
    }
    